# Ignora tudo dentro da pasta video (Terá um Link ou script para que videos sejam baixados pelo usario e adicionados a pasta)
*.mp4

# Pastas de configuração do VSCode
.vscode/

# Pastas de configuração das IDEs da JetBrains (CLion, IntelliJ, PyCharm)
.idea/

# Arquivos de configuração do Eclipse
.project
.settings/

# Arquivos temporários do editor/terminal
*.swp
*~

# Arquivos do sistema
.DS_Store
Thumbs.db
